body {
    font-family: Arial, sans-serif;
    color: #00796b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #a5d6a7, #00796b); /* Degradado de verdes */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
